     body{
         background-color: pink;
         background-image: url(photo.png);
         background-repeat: repeat;
         background-size: 40px;
      }
      h1 {
        text-align: center;
         font-weight: bold;
         font-size: 70px;opacity: 2.0;
         background-color:darkslategrey;
      }
      h1 a:link,h1 a:visited{
         color: indianred;
         text-shadow: 5px 5px black; 
         font-weight: bolder;
      }
      *{
         box-sizing:border-box; 
         margin: auto;
         overflow: auto;   
      }
      header li,#playlists li,#connect li,#links li{
         list-style: none;
         margin-bottom: 2px;
         font-weight: bold;       
         display:block;
         font-size: 30px; 
      }
      #playlists a:link,#playlists a:visited
      {
         font-size: 30px;
      }
      section,footer{
         opacity: .6;
         font-size: 20px;
         font-weight: bold;
         background-color: white;
         padding: 10px;
      }
      h3{
         font-size:  50px;
         color : darkblue;
         font-family: arial, serif;
         text-decoration-line:underline;
      }
      h3:hover
      {
         cursor: crosshair;
      }      
      
      li{
         list-style: none;
      }
      header li a:link, header li a:visited{
         text-decoration:none; 
         padding: 10px;
         margin: auto;
         color: white;
         text-align: center;
         border:5px solid black;
         display:block;
         background-color: maroon;
         width: 50%;
         height: 50%;overflow: auto;           
         text-align: center;
      }
      header li a:hover,header li a:active{
         background-color:darkblue ;
         color: green;
      }
     