h1{
         font-weight: bold;
         text-align: center;
         font-size: 70px;
      }
      body{
         background-color: pink;
      }
      header li,#playlists li,#connect li,#links li{
         list-style: none;
         margin-bottom: 2px;
         font-weight: bold;       
         display:block;
         font-size: 30px; 
      }

      section{
         font-size: 20px;
         font-weight: bold;
      }
            h3{
         font-size:  50px;
         color : darkblue;
         font-family: arial serif;
         text-decoration-line:underline;
      }
      h3:hover
      {
         cursor: crosshair;
      }      
      li
      {
         list-style: none;
      }
      header li a:link, header li a:visited{
         text-decoration:none;
         margin: auto;
         color: white;
         text-align: center;
         border:5px solid black;
         display:block;
         background-color: maroon;
         width: 50%;
         height: 50%;overflow: auto;           
         text-align: center;
         opacity: .7;
      }
      header li a:hover,header li a:active{
         background-color:darkblue ;
         color: green;
      }